 /* Style for the taskbar */
 .taskbar {
    background-color: black;
    overflow: hidden;
}

/* Style for the taskbar items */
.taskbar-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the appearance of the taskbar items when hovered */
.taskbar-item:hover {
    background-color: #555;
}