
    <div class="property-card"  style="float:left">
      <a href="#">
        <div class="property-image">
          <div class="property-image-title">
            <h5>Projet {{donnees.titre}}</h5>
          </div>
        </div></a>
      <div class="property-description">
        <h5></h5>
        <p>{{donnees.a_propos}} </p>
      </div>
      <a href="#">
        <div class="property-social-icons">
          <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
        </div>
      </a>
    </div>